<h1 class="text-center">List All Activity</h1>
<%= will_paginate %>
<%= render 'activities/activity', obj: @activities %>
<div class="d-flex justify-content-center">
  <%= will_paginate @activities %>
</div>